[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
tox = "*"
xenon = "*"
"flake8" = "*"
pytest-cov = "*"
"bump2version" = "*"
twine = "*"
djangorestframework = "*"

[packages]
django = "~=1.11"
django-redis = "*"

[requires]
python_version = "3.6"
