name: "Continuous Integration"
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10.0
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Run pre-commit
      uses: pre-commit/action@v2.0.3
  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.7", "3.8", "3.9", "3.10"]
      fail-fast: false

    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Build steps
      uses: ./.github/actions/django-idempotency-key-build
      with:
        python-version: ${{ matrix.python }}
    - name: Test with pytest
      run: |
        poetry run make test
